<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Using to Thymeleaf Layout </title>
    <script src="https://code.jquery.com/jquery-latest.js"></script></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://purecss.io/layouts/marketing/styles.css">
</head>
<body>
<header class="header" id="hd">
    <div th:insert="~{layout/header :: header}" id="header"></div>
<!--    <div th:insert="~{layout/header :: logo}" id="logo"></div>-->
<!--    <div th:insert="~{layout/header :: gnb}" id="gnb"></div>-->
</header>
<div class="contents" style="margin-top: 100px">
    <div class="container" style="clear:both; padding:40px; padding-top:50px;">
        <h2 style="border-bottom: 2px solid #333" class="title"> 교재 등록 </h2>
        <form id="form" th:object="${book}">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <table class="table">
                <tbody>
                <tr>
                    <th><label for="title"> 제목 </label></th>
                    <td><input type="text" id="title" th:field="${book.title}" placeholder="책 제목을 입력해주세요"><br>
                        <span class="err" th:if="${#fields.hasErrors('title')}" th:errors="${title}"></span>
                    </td>
                </tr>
                <tr>
                    <th><label for="creator"> 저자 </label></th>
                    <td><input type="text" id="creator" th:field="${book.creator}" placeholder="저자를 입력해주세요"><br>
                        <span class="err" th:if="${#fields.hasErrors('creator')}" th:errors="${creator}"></span>
                    </td>
                </tr>
                <tr>
                    <th><label for="publisher"> 출판사 </label></th>
                    <td><input type="text" id="publisher" th:field="${book.publisher}" placeholder="저자를 입력해주세요"><br>
                        <span class="err" th:if="${#fields.hasErrors('publisher')}" th:errors="${publisher}"></span>
                    </td>
                </tr>
                <tr>
                    <th><label for="pubDate"> 출판일 </label></th>
                    <td><input type="date" id="pubDate" th:field="${book.pubDate}" placeholder="저자를 입력해주세요"><br>
                        <span class="err" th:if="${#fields.hasErrors('pubDate')}" th:errors="${pubDate}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <button type="button" class="button" onclick="inputData()"> 등록 </button>
        </form>
        <hr>
        <h2 style="border-bottom: 2px solid #333" class="title"> 교재 목록 </h2>
        <hr>
        <div class="list" id="list">
            <th:block th:if="${bookMap != null}">
                <table class="table">
                    <thead>
                    <tr>
                        <th> 연번 </th>
                        <th> 제목 </th>
                        <th> 저자 </th>
                        <th> 출판사 </th>
                        <th> 출판일 </th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Map일 경우 -->
<!--                    <tr th:each="entry : ${bookMap}" th:with="book=${entry.value}">-->
<!--                        <td th:text="${book.seq}"></td>-->
<!--                        <td th:text="${book.title}"></td>-->
<!--                        <td th:text="${book.creator}"></td>-->
<!--                        <td th:text="${book.publisher}"></td>-->
<!--                        <td th:text="${book.pubDate}"></td>-->
<!--                    </tr>-->
                    <tr th:each="book : ${bookMap}">
                        <td th:text="${book.seq}"></td>
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.creator}"></td>
                        <td th:text="${book.publisher}"></td>
                        <td th:text="${book.pubDate}"></td>
                    </tr>
                    </tbody>
                </table>
            </th:block>
        </div>
    </div>
</div>
<footer class="footer" id="ft">
    <div th:insert="~{layout/footer :: ftLogo}" id="ftLogo"></div>
    <div th:insert="~{layout/footer :: fnb}" id="fnb"></div>
    <div th:insert="~{layout/footer :: copy}" id="copy"></div>
</footer>
<script th:inline="javascript">
    function inputData() {
        let book = $("#form").serialize();
        $.ajax({
            url: "/ex/test5",
            data: book,
            type: "POST",
            cache: false
        }).done(function(fragment) {
            if($(fragment).find($("#form").length > 0)) {
                $("#list").replaceWith(fragment);
                $("input[type=text]").val("");
                $(".err").text("");
            } else {
                $("#form").replaceWith(fragment);
            }
        });
    }
</script>
</body>
</html>