<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 회원가입 폼 </title>
</head>
<body>
<h3> 회원가입 폼 </h3>
<form th:action="@{/registration}" method="post" autocomplete="off" th:object="${user}">
    <div>
        <label th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"> 아이디 : </label>
        <input type="text" th:field="*{loginId}" placeholder="아이디 입력" required>
    </div>
    <div>
        <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"> 이름 : </label>
        <input type="text" th:field="*{userName}" placeholder="이름 입력" required>
    </div>
    <div>
        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> 비밀번호 : </label>
        <input type="text" th:field="*{password}" placeholder="비밀번호 입력" required>
    </div>
    <div>
        <label th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"> 비밀번호 체크 : </label>
        <input type="text" th:field="*{passwordConfirm}" placeholder="비밀번호 입력" required>
    </div>
    <div>
        <button type="submit"> 회원가입 </button>
    </div>
    <span th:utext="${successMessage}"></span>
</form>
</body>
</html>