<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<div class="pure-menu pure-menu-horizontal pure-menu-fixed" th:fragment="header">
    <a th:href="@{/}" class="pure-menu-heading pure-menu-link" th:fragment="logo"> LOGO </a>
    <ul class="pure-menu-list" th:fragment="gnb">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"> Company </a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"> Service </a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"> Product </a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link"> Community </a></li>
    </ul>
</div>