<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 메인페이지 </title>
</head>
<body>
    <h2> 메인 페이지 </h2>
    <a th:href="@{/hello}"> Hello </a><br>
    <a th:href="@{/hello2(name='김천재', age=28)}"> Hello2 </a><br>
    <a th:href="@{/hello3(name='이천재', age=30)}"> Hello3 </a>
    <hr>
    <h2> 연습 페이지 </h2>
    <a th:href="@{/ex/sample1}"> Sample1 </a><br>
    <a th:href="@{/ex/sample2}"> Sample2 </a><br>
    <a th:href="@{/ex/sample3}"> Sample3 </a><br>
    <a th:href="@{/ex/sample4}"> Sample4 </a>
</body>
</html>