<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chunjae.test06.per.FreeMapper">

    <select id="freeList" resultType="com.chunjae.test06.entity.Free">
        select * from free order by fno desc
    </select>

    <select id="getFree" resultType="com.chunjae.test06.entity.Free">
        select * from free where fno = #{fno}
    </select>

    <insert id="insertFree">
        insert into free
        values(default, #{name}, #{title}, #{content}, default, default, default)
    </insert>

    <update id="updateFree">
        update free set title = #{title}, content = #{content}
        where fno = #{fno}
    </update>

    <delete id="deleteFree">
        delete from free where fno = #{fno}
    </delete>

    <update id="updateViews">
        update free set views = views + 1 where fno = #{fno}
    </update>

    <update id="updateRecommend">
        update free set recommend = #{recommend} where fno = #{fno}
    </update>

</mapper>